<!-- src/app/quiz/quiz.component.html
<div *ngIf="!showResult">
    <h2>Question {{ currentQuestionIndex + 1 }}:</h2>
    <p>{{ questions[currentQuestionIndex].question }}</p>
    <ul>
      <li *ngFor="let option of questions[currentQuestionIndex].options">
        <button (click)="selectAnswer(option)">{{ option }}</button>
      </li>
    </ul>
  </div>
  
  <div *ngIf="showResult">
    <app-result [score]="score" [totalQuestions]="questions.length"></app-result>
  </div>
   -->

  <!-- <h1>Quiz</h1> 
<ul>
   <li *ngFor = "let item of users">
   difficulty: {{item.difficulty
   }}
  </li>
 </ul> -->
   
 